#container {
    position: relative;
    width: 150%;
}

#middle {
    margin-left: 500px;
    /* margin:0 auto; */
    position: relative;
    /* width: 100%; */
    max-width:600px;
    /* height:300px; */
}

/* #right {
    max-width:250px;
    width:100%;
} */
/* #display-date{
    margin-right: 614px;
    text-align: left;
} */
.disable-scroll{
    overflow-x: hidden;
  }
