#container {
    position: relative;
    width: 150%;
}

#middle {
    margin: 0 auto;
    position: relative;
    /* width: 100%; */
    max-width:600px;
    /* height:300px; */
}

/* #right {
    max-width:150px;
    width:100%;
} */

